.card {
  width: 100%;
  margin-bottom: $padding;
  position: relative;

  @media (min-width: $desktop) {
    width: calc(50% - #{$padding-half});
    &:nth-of-type(odd) {
      margin-right: $padding-half;
    }
    &:nth-of-type(even) {
      margin-left: $padding-half;
    }
    &:nth-last-of-type(1) {
      order: 0;
    }
    &:nth-of-type(2) {
      order: 1;
    }
    &:nth-of-type(3) {
      order: 3;
      margin-left: $padding-half;
      margin-right: 0;
    }
    &:nth-of-type(4) {
      order: 2;
      margin-left: 0;
      margin-right: $padding-half;
    }
    &:nth-of-type(5) {
      order: 4;
    }
    &:nth-of-type(6) {
      order: 5;
    }
    &:nth-of-type(7) {
      order: 7;
      margin-left: $padding-half;
      margin-right: 0;
    }
    &:nth-of-type(8) {
      order: 6;
      margin-left: 0;
      margin-right: $padding-half;
    }
  }

  img {
    width: 100%;
    transition: all 0.3s;
    border-radius: 10px;
  }

  figure {
    line-height: 0;
  }

  figcaption {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    top: $padding-half * 0.75;
    left: $padding-half;
    padding-right: $padding;
    text-shadow: black 1px 0 10px;
  }

  p {
    margin-bottom: $padding-half;
  }

  &.card-screenshot {
    a {
      color: white;
      opacity: 1;
      transition: all 0.3s;

      &:hover {
        opacity: 0;
        img {
          border-radius: 0px;
          box-shadow: $link-hover-color 0px 0 4px;
        }
      }
    }
  }
}

.card-icons {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  i {
    font-size: $font-size * 3;
  }
  li {
    display: inline;
  }
}

.features {
  li {
    font-size: 0.9em;
    &::before {
      content: '￮ ';
    }
  }

  margin-bottom: $padding;
}
