.card {
  width: 100%;
  min-height: 23em;
  margin-bottom: $padding;

  @media (min-width: $small) {
    width: calc(50% - #{$padding-half});
    &:nth-of-type(odd) {
      margin-right: $padding-half;
    }
    &:nth-of-type(even) {
      margin-left: $padding-half;
    }
  }

  border: 1px solid black;
}
