.card {
  width: 100%;
  margin-bottom: $padding;
  position: relative;

  @media (min-width: $desktop) {
    width: calc(50% - #{$padding-half});
    &:nth-of-type(odd) {
      margin-right: $padding-half;
    }
    &:nth-of-type(even) {
      margin-left: $padding-half;
    }
  }

  img {
    width: 100%;
  }

  figure {
    line-height: 0;
  }

  figcaption {
    position: absolute;
    width: 100%;
    display: inline-block;
    top: $padding-half * 0.75;
    left: $padding-half;
    padding-right: $padding;
  }
}

.card-icons {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  i {
    font-size: $font-size * 3;
  }
  li {
    display: inline;
  }
}
