header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $padding;
  border-bottom: 1px solid $accent-color;
}

.about {
  width: 100%;
  margin-bottom: $padding;

  @media (min-width: $small) {
    width: calc(50% - #{$padding-half});
  }
}

.site-logo {
  height: 150px;
  margin-bottom: $padding;

  img {
    width: 150px;
    height: 150px;
    border-radius: 300px;
  }
}
