body {
  background-color: $bg-color;
  position: relative;
  float: left;
  width: 100%;
}

.bg-container {
  content: attr(data-code);
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-family: monospace;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: pre;
  transform: rotate(-5deg);
  left: $padding * 5;
  z-index: -1;
}

.container {
  margin: 0;
  padding: $padding $padding;

  @media (min-width: $mobile) {
    margin: 0 1em;
    padding: $padding $padding;
  }

  @media (min-width: $desktop) {
    margin: 0 3em;
    padding: $padding $padding * 2;
  }
}

section.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $accent-color;
  margin-bottom: $padding;
}
