.container {
  margin: 0 1em;
  padding: 2em 1em;

  @media (min-width: $small) {
    margin: 0 3em;
    padding: 2em 2em;
  }
}

section.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
