body {
  background-color: $bg-color;
}

.container {
  margin: 0;
  padding: $padding-double $padding;

  @media (min-width: $mobile) {
    margin: 0 1em;
    padding: $padding-double $padding;
  }

  @media (min-width: $desktop) {
    margin: 1.5em 3em;
    padding: $padding-double $padding-double;
  }
}

section.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $accent-color;
  margin-bottom: $padding;
}

section.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
