body {
  font: normal normal normal #{$font-size}/#{$line-height} $font-family;
  color: $font-color;
  font-size: $font-size;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-family: $font-family;
  line-height: $line-height;
  color: $font-color;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.3s;
  border-bottom: transparent solid 1px;
  &:hover,
  &:active {
    color: $link-hover-color;
    border-bottom-color: $link-hover-color;
  }
}

.fab,
.devicon {
  font-size: $font-size * 1.5;
}
